{% extends "explorer/base.html" %}

{% block sql_explorer_navbar %}{% endblock %}
{% block sql_explorer_content %}

    <h4 class="text-center">Schema</h4>
    <div id="tables">
<!--         <p>
          <input class="form-control search" placeholder="Search" />
        </p> -->
        <ul class="list">
            {% for m, value in schema.items %}
<!--                 <li>
                    {{m.0}}
                </li> -->
                <li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{m}}
                            <!-- <small class="text-muted app">{{ m.0 }}</small><h4 class="name panel-title">{{ m.1 }}</h4> -->
                            
                        </div>
                        <table class="">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><code>{{ value }}</code></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
{% block sql_explorer_footer %}{% endblock %}

{% block sql_explorer_scripts %}
<script>
    $(function() {
        function SearchFocus() {
            $(".search").focus();
        }
        var options = {
            valueNames: [ 'name', 'app' ],
            handlers: { 'updated': [SearchFocus] }
        };
        var tableList = new List('tables', options);
    });
</script>
{% endblock %}